* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: black


}

.container {
    max-width: 1440px;
    width: 73.61%;
    margin: 0 auto;
}

.buttons {
    border: 1px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

/* nav section */
.nav-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 57px;
    align-items: center;

}

.nav-items svg{
    display: none;
}

.nav-item {
    display: flex;
    gap: 47px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.home-design {
    border: 2px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    margin-left: 0;
}

.company-title {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    font-style: italic;
}

/* Banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-positiion {
    width: 520px;
    margin: 0 auto;

}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    text-align: left;
}

#shape {
    color: blue;
}

.banner-2 {
    position: relative;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    margin-top: 28px;
}

.btn-1 {
    background: rgb(230, 83, 60);
}

.btn-2 {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-left: 14px;
    background-color: black;

}

.tutorials {

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    padding: 20px 23px;
    align-items: center;
    max-width: 206px;
    gap: 12px;
    position: absolute;
    bottom: 64px;
    left: -113px;
}

.tutorial-title {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.tutorial-description {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

.nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 83, 60);
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.nothing svg{
    display: none;
}

.workout {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    max-width: 193px;
    margin: 0 auto;
    padding: 17px 20px;
    position: absolute;
    top: 142px;
    right: -45px;
}

.workout-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}

.workout-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

/* main section */
.habits {
    text-align: center;
}

.habit-1 {
    max-width: 661px;
    margin: 0 auto;
    margin-bottom: 50px;

}

.habit-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.habit-details {
    display: flex;
    align-items: center;
    gap: 40px;
}

.habit-img {
    border: 1px dashed white;
    border-radius: 100%;
}

.habit-titles {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;

}

.habit-descriptions {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

}

/* run section */
.Running {
    padding: 30px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    gap: 168px;
    margin-top: 100px;
}

.mile-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.mile-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
}

.run-img {
    width: 100%;
    border-radius: 18px;
}

/* calculator */
.calc{
    padding: 49px;
    
}
.bmi{
    max-width: 671px;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 88px;
    

}
.calc-body{
    background: rgba(255, 255, 255, 0.1);
}

.calc-title{
    color: rgb(255, 255, 255);
font-size: 28px;
font-weight: 900;
text-align: left;

}
.calc-description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
text-align: left;
}
.chat-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
margin-bottom: 52px;
}
.table{
    display: flex;
    justify-content: space-between;
    gap: 175px;

}
table{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.table-head{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
text-align: left;
padding: 10px;
}
.table-row{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}
td{
    width: 216px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-calc{
    color: rgb(255, 255, 255);
font-size: 28px;
font-weight: 900;
text-align: left;
margin-bottom: 14px;
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
text-align: left;
}
.calculator{
    max-width:576px;
    margin: 0 auto;
}
form{ 
    margin-top: 32px;
}
.input {
    display: grid;
grid-template-columns: repeat(2, 1fr);


gap: 12px;
margin-bottom: 32px;

}
.input input{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.input input:last-child{
    grid-column: span 2;
}


/* team section */
.teams {
    margin-top: 88px;
}

.our-team {
    text-align: center;
    margin-bottom: 58px;
}

.team-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;

}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px;
    border-radius: 18px;

    background: rgba(255, 255, 255, 0.1);


}

.member {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

.member-job {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;

}

.img1 {
    background-image: url("trainer1.png");
    background-size: cover;
    height: 272px;
    
}

.img2 {
    background-image: url("trainer2.png");
    background-size: cover;
    height: 272px;
    
}

.img3 {
    background-image: url("trainer3.png");
    background-size: cover;
    height: 272px;
    
}

.img4 {
    background-image: url("trainer4.png");
    background-size: cover;
    height: 272px;
   
}

.img5 {
    background-image: url("trainer5.png");
    background-size: cover;
    height: 272px;
    background-position: center;
}

.img6 {
    background-image: url("trainer6.png");
    background-size: cover;
    height: 272px;
    background-position: center;
}
/* footer */
.footer{
    background: black;
}
.final-1{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-radius: 18px;
}
.club{
    max-width: 443px;
    
}
.club-title{
    color: rgb(230, 83, 60);
font-size: 70px;
font-weight: 800;
}
.club-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}

.get{

}
.get-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    
}
.list{
    list-style: none;
    margin-top: 39px;
}
.list2{
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.5);
font-size: 23px;
font-weight: 400;
}
.final2{
    margin-top: 36px;
    margin-bottom: 35px;
    background: black;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.reserve{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
font-size: 18px;
font-weight: 400;
    
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 576px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    .nav-item{
        display: none;
    }

    .nav-items svg{
        display: block;
    }

    .banner {
        display: flex;
        justify-content: normal;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
    }
    .nav-section{
        margin-bottom: 50px;
    }
    .habit-details{
    
        flex-direction: column;
    }
    .Running{
        justify-content: normal;
        flex-direction: column;
        margin-top: 60px;
    }
    .table{
        flex-direction: column;
    }
    .calc{
        max-width: 576px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    .input{
        grid-template-columns: repeat(1, 1fr);

    }
    .input input:last-child{
        grid-column: span 1;
    }
    .members{
        grid-template-columns: repeat(1,1fr);
    }
    .final-1{
        flex-direction: column;
    }
    .get{
        margin-top: 30px;
    }
  .banner-btn{
    display: flex;
  }
  .tutorials{
    bottom: 240px;
    left: 0;
  }
  .nothing svg{
    display: block;
}
.workout{
    right: 0;
    top: 48px;
}
}