*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-repeat: no-repeat;

}

.buttons{
    border: 1px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
}
/* nav section */
.nav-section{
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto;
    margin-top: 57px;
    
}
.nav-items{

}
.nav-item{
    display: flex;
    gap: 47px;
   list-style: none;
   color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
text-align: left;
align-items: center;

border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;

}
.home-design{
    border: 2px ;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    margin-left: 0;
}
.company-title{
    color: rgb(230, 83, 60);
font-size: 36px;
font-weight: 800;
text-align: left;
font-style: italic;
}
/* Banner section */
.banner{
    width: 520px;
    margin: 0 auto;

}
.banner-title{
    color: rgb(255, 255, 255);
font-size: 78px;
font-weight: 900;
text-align: left;
}
#shape{

}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
margin-bottom: 28px;
margin-top: 28px;
}
.btn-1{
background: rgb(230, 83, 60);
}
.btn-2{
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;

}
